<!DOCTYPE html>
<html>
    {% include "partials/header.html" %}
    <body>
        <header>
            <h1>W0rd C0unt</h1>
        </header>
        <div class="container">
            {% include "partials/form.html" %}
        </div>
        <footer>
            <p>&copy; 2017 | developed by Sam Peppard</p>
        </footer>
    </body>
</html>
