<!DOCTYPE html>
<html>
    {% include "partials/header.html" %}
    <body>
        <div class="container">
            <br>
            <br>
            <h4>Number of times your given word appears: {{ result }}</h4>

            {% include "partials/form.html" %}
        </div>
    </body>
</html>
